.container {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card a {
    text-decoration: none;
}

.card {
    background: #F7F7F7;
    width: 390px;
    padding: 40px 25px 15px;
    text-align: center;
    box-sizing: border-box;
}

.card img {
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
